

@font-face {
	font-family: 'digital-7-mono';
	src: url('./fonts/digital-7-mono.ttf') format('truetype');
}

body {
	background-color: transparent;
}

.vintage-timer {
	font-family: 'digital-7-mono';
	color: white;
	position: relative;
}

.time {
	font-size: 15rem;
	position: absolute;
	top: 0;
	left: 0;
}
